@charset "UTF-8";

/* survey.css */
.survey-container {
	font-family: "KoHo", sans-serif;
	font-weight: bold;
	
}

.survey-container .heading {
	width: 700px;
}
.attention-content {
	font-family: "KoHo", sans-serif;
	font-weight: bold;
	font-size: 18px;
	padding-bottom: 15px;
	border-bottom: 1px solid var(--bs-gray);
}

.survey-ingredient {
	margin: 0 80px;
}

/* 영양제 추천 하단 내용 */
.sub-info {
	font-size: 15px;
	width: 1000px;
	color: var(--bs-red);
	font-weight: 400;
}


/* 설문 항목 버튼 -------------------------------- */
.survey-sub-title {
	font-weight: bold;
	font-size: 17px;
	margin: 30px 0 20px 0 ;
	border-bottom: 1px solid var(--bs-primary);
}

.survey-sub-title span {
	padding-left: 15px;
	font-size: 14px;
	color: var(--bs-red);
}

.survey-gender, .survey-age, .survey-checkup, .survey-organ, .survey-daily {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.survey-radio-btn, .survey-ceckbox-btn {
	margin-bottom: 40px;	
	display: inline-block;	
}

.survey-radio-btn label, .survey-ceckbox-btn label{
	width: 245px;
	height: 65px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--bs-gray);
	border-radius: 10px;
	margin-right: 40px;
	font-size: 20px;
	text-align: center;
	color: var(--bs-gray-dark);
}	

.survey-radio-btn:nth-child(4n), .survey-ceckbox-btn:nth-child(4n) {
	margin-right: -20px;
}


.survey-radio-btn input[type=radio], .survey-ceckbox-btn input[type=checkbox] {
	display: none;
}

.survey-radio-btn input[type=radio]:checked + label, .survey-ceckbox-btn input[type=checkbox]:checked  + label {
	background: var(--bs-primary);
	color: var(--bs-white);
	border: none;
}

.survey-radio-btn label:hover, .survey-ceckbox-btn label:hover {
	color: var(--bs-white);
	background: var(--bs-primary);
	border: none;
	cursor: pointer;
}


.survey-btn {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 50px 35px 0 0;
}

/* 설문 항목 초기화 버튼 ---------------- */
.clean-btn {
	width: 245px;
	height: 65px;
	background-color: #c4c4c4;
	border: 2px solid #c4c4c4;
	border-radius: 10px;
	font-family: "KoHo", sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: var(--bs-gray);
	text-align: center;
	margin-right: 40px;
}

.clean-btn .clean-icon {
	padding: 0 5px 5px 0;
}

/* 영양제 추천 받기 버튼 ---------------- */
.recommend-btn {
	width: 245px;
	height: 65px;
	background-color: var(--bs-white);
	border: 2px solid var(--bs-primary);
	border-radius: 10px;
	font-family: "KoHo", sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: var(--bs-primary);
	text-align: center;
}

.recommend-btn .recommend-icon {
	padding: 0 5px 5px 0;
}

.clean-btn:active, .clean-btn:focus, .recommend-btn:active, .recommend-btn:focus {
	outline: none;
	box-shadow: none;
}

/* recommend.css */

.category {
	margin-top: 25px;
	font-family: "KoHo", sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: var(--bs-gray-dark);
	border-bottom: 1px solid #D9D9D9;
	padding-bottom: 10px;
}

.recommend-container {
	font-family: "KoHo", sans-serif;
	font-weight: bold;
	background-color: #f8f9fa;
	position: relative;
	
}

.recommend-container::before {
	content: "";
	position: absolute;
	background-color: var(--bs-white);
	left: 0;
	right: 0;
	top: 0;
	height: 350px;
	width: 100%;
	z-index: 0;
}

.recommend-container .heading {
	width: 700px;
}
.attention-content {
	font-family: "KoHo", sans-serif;
	font-weight: bold;
	font-size: 18px;
	padding-bottom: 15px;
	border-bottom: 1px solid var(--bs-gray);
}

.row {
	padding-top: 50px;
}

.row > * {
	margin-top: 20px;
}

.col-lg-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 33%; }


  /* 추천 영양제 박스 수정 */
  .mb-3 {
  	text-align: center;
  	padding-bottom: 5px;
  }

  .feature-1 {
  	height: 100%;
  }
  
  .feature-1:hover {
	cursor: pointer;  
}

  .feature-1 h3, .feature-1 .h3{
  	text-align: center;
  	padding-bottom: 5px;
  }
  
.ingredient-icon {
	width: 100px;
	height: 100px;
}

.feature-1 p {
	font-family: "KoHo", sans-serif;
	font-weight: 400;
	line-height: 30px;
}

.retry-btn {
	width: 245px;
	height: 65px;
	background-color: var(--bs-white);
	border: 2px solid var(--bs-primary);
	border-radius: 10px;
	font-family: "KoHo", sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: var(--bs-primary);
	text-align: center;
}

.retry-btn .retry-icon {
	padding: 0 5px 5px 0;
}

.retry-btn:active, .retry-btn:focus {
	outline: none;
	box-shadow: none;
}
