<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
	<title>[[#{menu.findpassword}]]</title>
	<th:block th:insert="~{inc/asset.html :: templates_css}"></th:block>
	<link rel="stylesheet" th:href="@{css/main.css}">
	<link rel="stylesheet" th:href="@{css/login.css}">
</head>
<body>
	<th:block th:insert="~{inc/header.html :: index_header_menu}"></th:block>
	<th:block th:insert="~{inc/header.html :: index_header_content_basic(#{menu.findpassword},#{menu.findpassword.desc})}"></th:block>
	
    <form method="POST" action="/loginok">
        <div class="login-form-box">
        	<div class="empty-div"></div>
            <div class="font-size-40 font-koho font-bold align-center">VitaMatch</div>
            <div>
	            <table class="stretch">
	                    <tr>
	                        <!-- <th>email</th> -->
	                        <td class="form-group">
                                <input id="username" type="text" name="username" placeholder=" " aria-label="username" class="login border-round border-thin border-gray" required/>
                                <label for="username">email</label>
                            </td>
	                    </tr>
	                    <tr>
	                        <!-- <th>password</th> -->
	                        <td class="form-group">
                                <input id="password" type="password" name="passowrd" placeholder=" " aria-label="password" class="login border-round border-thin border-gray" required/>
                                <label for="password">password</label>
                            </td>
	                    </tr>
	            </table>
            </div>
            <div><button class="login-button color-project text-color-white border-none border-round">Log in</button></div>
			<!--<div><input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"></div>-->
        </div>
        </form>
			<div class="wrapper">
				<div class="flex">
	                <a href="/findpassword">forgot passsword?</a>
	                <a href="/signup">sign up</a>			
	            </div>
			</div>
	            <div class="empty-div"></div>
	            <div class="empty-div"></div>

	<th:block th:insert="~{inc/footer.html :: footer}"></th:block>
	<th:block th:insert="~{inc/asset.html :: templates_js}"></th:block>
</body>
</html>